APP_NAME = "mini-RAG"
APP_VERSION = "0.1"

FILL_MAX_SIZE = 10
FILE_ALLOWED_TYPES = ['text/plain','application/pdf']
FILE_DEFAULT_CHUNK_SIZE = 512000 #512KB 


MONGODB_DATABASE = 
MONGO_URL = 

GENERATION_BACKEND = "gemini"
EMBEDDING_BACKEND = "cohere"

GEMINI_API_KEY = 
COHERE_API_KEY = 

GENERATION_MODEL_ID = "gemini-3.5-flash-lite"
EMBEDDING_MODEL_ID = "embed-v4.0" # Dimensions One of ‘[256, 512, 1024, 1536 (default)]‘

MAX_INPUT_TOKENS = 1000
MAX_OUTPUT_TOKENS = 1000
TEMPERATURE = 0.1
EMBEDDING_SIZE = 256

## VectorDB config 
VECTOR_DB_BACKEND = "qdrant"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DISTANCE_METRIC = "cosine"